.pai{
    text-align: center;
    color: white;
}
.centro{
    display: inline-block;
    margin-top: 8%; /*ajustar no mq p centralizar*/
   
}
.centro p{
    font-size: clamp(0.4em, 5vw, 1.2em);
    font-family: "Quicksand", sans-serif;
    color: white;
    font-weight: 200
}

.centro h1{
    color: white;
    font-size: clamp(2.5em, 5vw, 3.8em);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200; /* Peso da fonte */
    font-style: normal; 

}
.cursiva{
    font-size: clamp(1.5em, 5vw, 3em);
    background: linear-gradient(90deg, #8338EC, #B923FF); -webkit-background-clip: text; color: transparent;
    font-family: "Playfair Display", serif ;
    font-weight: 400; /* Peso da fonte */
    font-style: italic; /* Estilo itálico */
}