@media (min-width: 340px) and (max-width: 768px){
    .main-header{
    height: clamp(60%, 60vh, 61%);
    }
    
    .fileira{

    margin: 0% 4% 0% 4%;
    font-size: 0.9em;
   }
   .centro{
    margin-top: 15%; 
}
}











/*responsivo clular pequeuno*/
@media (max-width: 340px) {
    .fileira{
       
        padding-top: 6%;
        font-size: 0.85em;
        margin: 0% 4% 0% 4%;
    }
}