/* Telas pequenas (celulares maiores: <= 390px, como iPhone 14, Galaxy S23) */
@media (max-width: 390px) {
    body {
      font-size: 1rem;
      line-height: 1.5;
    }
    .box{
        height: 45vh;
    }
  }



/* celulares pouco maior*/
@media (max-width: 440px) {
   
    .main-header{
        max-height: 50vh;
    }
     .box{
   
        height: 30vh;
    }
    .caixa-elementos{
       max-height: 100vh;
    }
  }






/* Pequenos celulares (<= 320px, como iPhone SE antigo) */
@media (max-width: 389px) {
    body {
      font-size: 0.9rem;
    }
    .box{

       
    }
    .caixa-elementos{
        height: 90vh;
    }
  }