/* Telas pequenas (celulares maiores: <= 390px, como iPhone 14, Galaxy S23) */



/* celulares pouco maior*/
@media (max-width: 440px) {
   
    .main-header{
        max-height: 50vh;
    }
     .box{
   
        height: 40vh;
    }
    .caixa-elementos{
       max-height: 100vh;
       margin-bottom: 20%;
    }
    .escrita-Roxa{
        min-width: 300px;
    }
  }






/* Pequenos celulares (<= 320px, como iPhone SE antigo) */
@media (max-width: 395px) {
    body {
        font-size: 1rem;
        line-height: 1.5;
    }
    .box{
       height: 40vh;
    }
    .buttom-section{
        padding: 3% 1% 3% 1%;
    }
    
    .caixa-elementos{
        max-height: 100vh;
     }
  }