@media (min-width: 768px) and (max-width: 1024px) {
.fileira{
        padding-top: 4%;
   }
   
.centro{
    margin-top: 11%; /*ajustar no mq p centralizar*/
}

.caixa-elementos{
    flex-direction: column;
}
.escrita{
    
 width: 70vw;
    gap: 10px
}

.image1{
    width: clamp(350px, 40vw, 600px); /* Min: 200px, Responsivo: 50% da largura da viewport, Max: 500px */

}
}